{% extends 'friendgroups/base.html' %}

{% load static %}

{% block page-header %}
    <h1 class="m-0 text-dark d-inline">Nuevo Lider</h1>
{% endblock page-header%}


{% block content %}
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                <div class="col">
                    <div class="card bg-light">
                        <div class="card-header text-muted border-bottom-0">
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col">
                                    <form method="post" role="form">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                                    <label for="{{ form.username.name }}">Usuario</label>
                                                    {{ form.username }}
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                                    <label for="{{ form.first_name.name }}">Nombre</label>
                                                    {{ form.first_name }}
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                                    <label for="{{ form.last_name.name }}">Apellido</label>
                                                    {{ form.last_name }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col form-group">
                                                    <label for="{{ form.group.name }}">Grupo</label>
                                                    {{ form.group }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-6 form-group">
                                                    <label for="{{ form.password1.name }}">Contraseña</label>
                                                    {{ form.password1 }}
                                                </div>
                                                <div class="col-12 col-md-6 form-group">
                                                    <label for="{{ form.password2.name }}">Confirmar contraseña</label>
                                                    {{ form.password2 }}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="{% url 'friendgroups:leaders' %}" class="btn btn-secondary float-left">Cancelar</a>
                                <button type="submit" class="btn btn-primary float-right">Crear Nuevo Lider</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

{% endblock content %}
