{% extends 'friendgroups/base.html' %}

{% block page-title-header %}
    {{ object }}
{% endblock page-title-header%}

{% block content %}
<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title text-bold">{{ object.topic }}</h5>

            <p class="card-text">
                {{ object.date }}
            </p>

            <table class="table table-bordered mb-3">
                <thead>
                    <tr>
                        <th style="width: 10px">ID</th>
                        <th>Nombre</th>
                        <th>Progress</th>
                        <th style="width: 40px">Asistencia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendance in object.attendances.all %}
                    <tr>
                        <td>{{ attendance.id }}</td>
                        <td>{{ attendance }}</td>
                        <td>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-danger">55%</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="#" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

{% endblock content %}
