{% extends 'friendgroups/base.html' %}

{% block page-title-header %}
    {{ object }}
{% endblock page-title-header%}

{% block content %}
<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4">
        <!-- Profile Image -->
        <div class="card">
          <div class="card-body box-profile">
            <div class="text-center">
            </div>

            <h3 class="text-center h2">{{ object.topic }}</h3>

            <p class="text-muted text-center">{{ object.date }}</p>

            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Ofrenda</b> <a class="float-right">${{ object.offering }}</a>
                </li>
                <li class="list-group-item">
                    <b>Diezmo</b> <a class="float-right">${{ object.tithe }}</a>
                </li>
                <li class="list-group-item">
                    <b>Asistencia total: </b> <a class="float-right">{{ object.person.count }} / {{ object.group.persons.count }}</a>
                </li>
                <li class="list-group-item">
                    <b>Horario</b> <a class="float-right">{{ object.hour }}hs</a>
                </li>
            </ul>

            <a href="{% url 'friendgroups:meeting-update' object.id %}" class="btn btn-secondary btn-block"><i class="fas fa-edit"></i> <b>Editar</b></a>
            <a href="{% url 'friendgroups:meeting-delete' object.id %}" class="btn btn-danger btn-block"><i class="fas fa-trash"></i> <b>Eliminar</b></a>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        </div>

        <div class="col">
        {% for attendance in object.attendances.all %}
            <div class="card">
                <div class="card-body">
                    <div class="float-left">
                        <span class="d-flex flex-column justify-content-start">
                            <span><b>{{ attendance.person.first_name }} {{ attendance.person.last_name }}</b></span>
                            <span>Categoria: {{ attendance.person.category }}</span>
                            <span class="text-muted">Unido el: {{ attendance.person.joined_at }}</span>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <!-- /.row -->

  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

{% endblock content %}
