{% extends 'friendgroups/base.html' %}

{% block page-header %}
    <h3 class="d-inline">Encuentros</h3>
    <a class="btn btn-success float-right" href="#"><i class="fas fa-users"></i> Nuevo Encuentro</a>
{% endblock page-header %}

{% block content %}
<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {% for meeting in object_list %}
        <div class="card">
          <div class="card-body">
              <h5 class="card-title text-bold">{{ meeting.topic }}</h5>

            <p class="card-text">
                {{ meeting.date }}
            </p>

            <a href="{% url 'friendgroups:meeting-detail' meeting.id %}" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></a>
            <a href="#" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>
            <a href="{% url 'friendgroups:meeting-delete' meeting.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

{% endblock content %}
