{% extends 'friendgroups/base.html' %}


{% block content %}
<!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning"> 403</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! No tenes permisos bro!</h3>

          <p>
          Volve al <a href="{% url 'friendgroups:index' %}"> inicio</a> o inicia sesión con un usuario que tenga permisos.
          </p>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
{% endblock content %}
